<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Oshikatsutalk" %></title>
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4d3619e3f9.js" crossorigin="anonymous"></script>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
 <header>
  <h1>Oshikatsutalk</h1>
  <div class="header-list">
   <ul>
     <li><%= link_to "ホーム", tweets_path %></li>
     <li><%= link_to "新規登録", new_user_registration_path %></li>
   </ul>
  </div>
 </header>
 <main>
  <%= yield %>
 </main>
 <footer>
      <p>Copyright © Oshikatsutalk All Rights Reserved.</p>
    </footer>
</body>

</html>
